<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                    </div>
                </ng-template>
            </p-toolbar>
            <p-table #dt [value]="(courses$ | async)?.data" responsiveLayout="scroll" [rows]="10"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                [globalFilterFields]="['name','courseStatus','level','code']" [rows]="10" [paginator]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true"
                dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Courses</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">Code <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                        <th pSortableColumn="level">Level <p-sortIcon field="level"></p-sortIcon></th>
                        <th pSortableColumn="startDate">Start Date <p-sortIcon field="startDate"></p-sortIcon></th>
                        <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon></th>
                        <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-course>
                    <tr>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                            {{course.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{course.name}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Price</span>
                            {{course.price | currency:'EGP'}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Level</span>
                            {{course.level}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Start Date</span>
                            {{course.startDate | date:'mediumDate' }}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Reviews</span>
                            <p-rating [ngModel]="course.rating" [readonly]="true" [cancel]="false"></p-rating>
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span
                                [ngClass]="{'product-badge': courseModel.courseStatus === 'AVAILABLE' , 'status-lowstock' : courseModel.courseStatus === 'PENDING'}">{{course.courseStatus}}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-trash"
                                    class="mr-2 p-button-rounded p-button-warning"
                                    (click)="deleteCourse(course)"></button>
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editCourse(course.id)"></button>
                                <p-inputSwitch #checkInput [ngModel]="course.courseStatus === 'Approved' ? true : false"
                                    (onChange)="approveCourse(course.id,checkInput)" class="mt-2"></p-inputSwitch>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="deleteCourseDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="courseModel">Are you sure you want to delete <b>{{courseModel.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteCourseDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
<!-- <app-go-dialog (cancelDialog)="$event === deleteCourseDialog" [showDialog]="deleteCourseDialog"
    [confirmCallBack]="confirmDelete"></app-go-dialog> -->
