<!-- <div class="layout-footer">
    <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="Logo" height="20" class="mr-2"/>
    by
    <span class="font-medium ml-2">PrimeNG</span>
</div> -->

<footer>
    <div class="container upper">
        <div class="grid">
            <div class="col-12 md:col-4 logo right-border">
                <img src="assets/layout/images/logow.png" />
            </div>
            <div class="col-12 md:col-4  vertical-center">
                <div>
                    <h4>Contact Us</h4>
                    <br />
                    <p>Phone number: 123-456-7890</p>
                    <p>Email: hello@gmail.com</p>
                </div>
            </div>
            <div class="col-12 md:col-4 vertical-center social">
                <div>
                    <h4>Social</h4>
                    <br />
                    <a href="#">
                        <i class="pi pi-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="pi pi-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="pi pi-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="pi pi-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <img class="arrows" src="assets/layout/images/arrowsb.png" />
    <hr />
    <div class="container copyrights">
        © 2022 Go Deeper Academy | All Rights Reserved
    </div>
</footer>
